<div class="row">
  <div class="col-12">
    <div class="card">
      <!-- <div class="card-header">
        <button
        (click)="back()"
        class="btn btn-success"
      >
        {{ "Back" | translate }}
      </button>
      </div> -->
      <div class="card-body">
           <div class="form-group row">
            <label for="ID" class="col-sm-2 col-form-label">{{ 'ID' | translate }}</label>
            <div class=" col-sm-10 d-flex align-items-center">
              <span *ngIf="model.id > 0">{{model.id}}</span>
            </div>
          </div>

          <div class="form-group row">
            <label for="siteStatus" class="col-sm-2 col-form-label">{{ 'Site_Status' | translate }}</label>
            <div class=" col-sm-10 d-flex align-items-center">
              <span >{{model.statusName}}</span>
            </div>
          </div>

          <div class="form-group row">
            <label for="siteName" class="col-sm-2 col-form-label">{{ 'Site_Name' | translate }}</label>
            <div class=" col-sm-10 d-flex align-items-center">
              <span >{{model.siteName}}</span>
            </div>
          </div>

          
          <div class="form-group row">
            <label for="siteAddress" class="col-sm-2 col-form-label">{{ 'Site_Address' | translate }}</label>
            <div class=" col-sm-10 d-flex align-items-center">
              <span >{{model.siteAddress}}</span>
            </div>
          </div>
    
          <div class="form-group row">
            <label for="timeRange" class="col-sm-2 col-form-label">{{ 'Time_Range' | translate }}</label>
            <div class=" col-sm-10 d-flex align-items-center">
              <span >{{model.startTime | date: "HH:mm"}} ~ {{model.endTime | date: "HH:mm"}}</span>
            </div>
          </div>

      </div>
    
    </div>
  </div>
</div>

